/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused",
)

package vote.fetcher.polishsejm.client.apis

import okhttp3.Call
import okhttp3.HttpUrl
import vote.fetcher.polishsejm.client.infrastructure.ApiClient
import vote.fetcher.polishsejm.client.infrastructure.ApiResponse
import vote.fetcher.polishsejm.client.infrastructure.ClientError
import vote.fetcher.polishsejm.client.infrastructure.ClientException
import vote.fetcher.polishsejm.client.infrastructure.MultiValueMap
import vote.fetcher.polishsejm.client.infrastructure.RequestConfig
import vote.fetcher.polishsejm.client.infrastructure.RequestMethod
import vote.fetcher.polishsejm.client.infrastructure.ResponseType
import vote.fetcher.polishsejm.client.infrastructure.ServerError
import vote.fetcher.polishsejm.client.infrastructure.ServerException
import vote.fetcher.polishsejm.client.infrastructure.Success
import vote.fetcher.polishsejm.client.models.SejmPrintDto
import java.io.IOException

open class PrintsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(
    basePath,
    client,
) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.sejm.gov.pl")
        }
    }

    /**
     * GET /sejm/term{term}/prints
     * Returns a list of prints
     *
     * @param term a Sejm term
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @return kotlin.collections.List<SejmPrintDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermPrintsGet(
        term: kotlin.Int,
        sort: kotlin.String? = null,
        sortBy: kotlin.String? = null,
    ): kotlin.collections.List<SejmPrintDto> {
        val localVarResponse = sejmTermtermPrintsGetWithHttpInfo(term = term, sort = sort, sortBy = sortBy)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmPrintDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/prints
     * Returns a list of prints
     *
     * @param term a Sejm term
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @return ApiResponse<kotlin.collections.List<SejmPrintDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermPrintsGetWithHttpInfo(
        term: kotlin.Int,
        sort: kotlin.String?,
        sortBy: kotlin.String?,
    ): ApiResponse<kotlin.collections.List<SejmPrintDto>?> {
        val localVariableConfig = sejmTermtermPrintsGetRequestConfig(term = term, sort = sort, sortBy = sortBy)

        return request<Unit, kotlin.collections.List<SejmPrintDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermPrintsGet
     *
     * @param term a Sejm term
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @return RequestConfig
     */
    fun sejmTermtermPrintsGetRequestConfig(
        term: kotlin.Int,
        sort: kotlin.String?,
        sortBy: kotlin.String?,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (sortBy != null) {
                    put("sort_by", listOf(sortBy.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/prints".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/prints/{num}/{attach_name}
     * Returns a print attachment
     *
     * @param attachName an attachment name
     * @param num a print number
     * @param term a Sejm term
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermPrintsNumAttachNameGet(
        attachName: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ) {
        val localVarResponse = sejmTermtermPrintsNumAttachNameGetWithHttpInfo(attachName = attachName, num = num, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/prints/{num}/{attach_name}
     * Returns a print attachment
     *
     * @param attachName an attachment name
     * @param num a print number
     * @param term a Sejm term
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermPrintsNumAttachNameGetWithHttpInfo(
        attachName: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<Unit?> {
        val localVariableConfig = sejmTermtermPrintsNumAttachNameGetRequestConfig(attachName = attachName, num = num, term = term)

        return request<Unit, Unit>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermPrintsNumAttachNameGet
     *
     * @param attachName an attachment name
     * @param num a print number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermPrintsNumAttachNameGetRequestConfig(
        attachName: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/prints/{num}/{attach_name}"
                .replace(
                    "{" + "attach_name" + "}",
                    encodeURIComponent(attachName.toString()),
                ).replace(
                    "{" + "num" + "}",
                    encodeURIComponent(num.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/prints/{num}
     * Returns information about a print
     *
     * @param num a print number
     * @param term a Sejm term
     * @return SejmPrintDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermPrintsNumGet(
        num: kotlin.String,
        term: kotlin.Int,
    ): SejmPrintDto {
        val localVarResponse = sejmTermtermPrintsNumGetWithHttpInfo(num = num, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SejmPrintDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/prints/{num}
     * Returns information about a print
     *
     * @param num a print number
     * @param term a Sejm term
     * @return ApiResponse<SejmPrintDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermPrintsNumGetWithHttpInfo(
        num: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<SejmPrintDto?> {
        val localVariableConfig = sejmTermtermPrintsNumGetRequestConfig(num = num, term = term)

        return request<Unit, SejmPrintDto>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermPrintsNumGet
     *
     * @param num a print number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermPrintsNumGetRequestConfig(
        num: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/prints/{num}"
                .replace(
                    "{" + "num" + "}",
                    encodeURIComponent(num.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl
            .Builder()
            .scheme("http")
            .host("localhost")
            .addPathSegment(uriComponent)
            .build()
            .encodedPathSegments[0]
}
