/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused",
)

package vote.fetcher.polishsejm.client.apis

import okhttp3.Call
import okhttp3.HttpUrl
import vote.fetcher.polishsejm.client.infrastructure.ApiClient
import vote.fetcher.polishsejm.client.infrastructure.ApiResponse
import vote.fetcher.polishsejm.client.infrastructure.ClientError
import vote.fetcher.polishsejm.client.infrastructure.ClientException
import vote.fetcher.polishsejm.client.infrastructure.MultiValueMap
import vote.fetcher.polishsejm.client.infrastructure.RequestConfig
import vote.fetcher.polishsejm.client.infrastructure.RequestMethod
import vote.fetcher.polishsejm.client.infrastructure.ResponseType
import vote.fetcher.polishsejm.client.infrastructure.ServerError
import vote.fetcher.polishsejm.client.infrastructure.ServerException
import vote.fetcher.polishsejm.client.infrastructure.Success
import vote.fetcher.polishsejm.client.models.SejmVideoDto
import java.io.IOException

open class VideosApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(
    basePath,
    client,
) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.sejm.gov.pl")
        }
    }

    /**
     * GET /sejm/term{term}/videos/{date}
     * Returns a list of video transmissions for a specified date
     *
     * @param date a date
     * @param term a Sejm term
     * @return kotlin.collections.List<SejmVideoDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVideosDateGet(
        date: java.time.LocalDate,
        term: kotlin.Int,
    ): kotlin.collections.List<SejmVideoDto> {
        val localVarResponse = sejmTermtermVideosDateGetWithHttpInfo(date = date, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmVideoDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/videos/{date}
     * Returns a list of video transmissions for a specified date
     *
     * @param date a date
     * @param term a Sejm term
     * @return ApiResponse<kotlin.collections.List<SejmVideoDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVideosDateGetWithHttpInfo(
        date: java.time.LocalDate,
        term: kotlin.Int,
    ): ApiResponse<kotlin.collections.List<SejmVideoDto>?> {
        val localVariableConfig = sejmTermtermVideosDateGetRequestConfig(date = date, term = term)

        return request<Unit, kotlin.collections.List<SejmVideoDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVideosDateGet
     *
     * @param date a date
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVideosDateGetRequestConfig(
        date: java.time.LocalDate,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/videos/{date}"
                .replace(
                    "{" + "date" + "}",
                    encodeURIComponent(date.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/videos
     * Returns a list of video transmissions
     *
     * @param term a Sejm term
     * @param comm filters videos for a specified committee (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters videos starting from a specified date (optional)
     * @param till filters videos starting before a specified date (optional)
     * @param title filters videos containing a specified string in a title (optional)
     * @param type filters videos with a specified type (optional)
     * @return kotlin.collections.List<SejmVideoDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVideosGet(
        term: kotlin.Int,
        comm: kotlin.String? = null,
        limit: kotlin.Int? = 50,
        offset: kotlin.Int? = 0,
        since: kotlin.String? = null,
        till: kotlin.String? = null,
        title: kotlin.String? = null,
        type: kotlin.String? = null,
    ): kotlin.collections.List<SejmVideoDto> {
        val localVarResponse =
            sejmTermtermVideosGetWithHttpInfo(
                term = term,
                comm = comm,
                limit = limit,
                offset = offset,
                since = since,
                till = till,
                title = title,
                type = type,
            )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmVideoDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/videos
     * Returns a list of video transmissions
     *
     * @param term a Sejm term
     * @param comm filters videos for a specified committee (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters videos starting from a specified date (optional)
     * @param till filters videos starting before a specified date (optional)
     * @param title filters videos containing a specified string in a title (optional)
     * @param type filters videos with a specified type (optional)
     * @return ApiResponse<kotlin.collections.List<SejmVideoDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVideosGetWithHttpInfo(
        term: kotlin.Int,
        comm: kotlin.String?,
        limit: kotlin.Int?,
        offset: kotlin.Int?,
        since: kotlin.String?,
        till: kotlin.String?,
        title: kotlin.String?,
        type: kotlin.String?,
    ): ApiResponse<kotlin.collections.List<SejmVideoDto>?> {
        val localVariableConfig =
            sejmTermtermVideosGetRequestConfig(
                term = term,
                comm = comm,
                limit = limit,
                offset = offset,
                since = since,
                till = till,
                title = title,
                type = type,
            )

        return request<Unit, kotlin.collections.List<SejmVideoDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVideosGet
     *
     * @param term a Sejm term
     * @param comm filters videos for a specified committee (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters videos starting from a specified date (optional)
     * @param till filters videos starting before a specified date (optional)
     * @param title filters videos containing a specified string in a title (optional)
     * @param type filters videos with a specified type (optional)
     * @return RequestConfig
     */
    fun sejmTermtermVideosGetRequestConfig(
        term: kotlin.Int,
        comm: kotlin.String?,
        limit: kotlin.Int?,
        offset: kotlin.Int?,
        since: kotlin.String?,
        till: kotlin.String?,
        title: kotlin.String?,
        type: kotlin.String?,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (comm != null) {
                    put("comm", listOf(comm.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
                if (till != null) {
                    put("till", listOf(till.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/videos".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/videos/today
     * Returns a list of video transmissions for today
     *
     * @param term a Sejm term
     * @return kotlin.collections.List<SejmVideoDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVideosTodayGet(term: kotlin.Int): kotlin.collections.List<SejmVideoDto> {
        val localVarResponse = sejmTermtermVideosTodayGetWithHttpInfo(term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmVideoDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/videos/today
     * Returns a list of video transmissions for today
     *
     * @param term a Sejm term
     * @return ApiResponse<kotlin.collections.List<SejmVideoDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVideosTodayGetWithHttpInfo(term: kotlin.Int): ApiResponse<kotlin.collections.List<SejmVideoDto>?> {
        val localVariableConfig = sejmTermtermVideosTodayGetRequestConfig(term = term)

        return request<Unit, kotlin.collections.List<SejmVideoDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVideosTodayGet
     *
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVideosTodayGetRequestConfig(term: kotlin.Int): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/videos/today".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/videos/{unid}
     * Returns a video transmission details
     *
     * @param term a Sejm term
     * @param unid an event identifier
     * @return SejmVideoDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVideosUnidGet(
        term: kotlin.Int,
        unid: kotlin.String,
    ): SejmVideoDto {
        val localVarResponse = sejmTermtermVideosUnidGetWithHttpInfo(term = term, unid = unid)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SejmVideoDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/videos/{unid}
     * Returns a video transmission details
     *
     * @param term a Sejm term
     * @param unid an event identifier
     * @return ApiResponse<SejmVideoDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVideosUnidGetWithHttpInfo(
        term: kotlin.Int,
        unid: kotlin.String,
    ): ApiResponse<SejmVideoDto?> {
        val localVariableConfig = sejmTermtermVideosUnidGetRequestConfig(term = term, unid = unid)

        return request<Unit, SejmVideoDto>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVideosUnidGet
     *
     * @param term a Sejm term
     * @param unid an event identifier
     * @return RequestConfig
     */
    fun sejmTermtermVideosUnidGetRequestConfig(
        term: kotlin.Int,
        unid: kotlin.String,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/videos/{unid}"
                .replace(
                    "{" + "term" + "}",
                    encodeURIComponent(term.toString()),
                ).replace("{" + "unid" + "}", encodeURIComponent(unid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl
            .Builder()
            .scheme("http")
            .host("localhost")
            .addPathSegment(uriComponent)
            .build()
            .encodedPathSegments[0]
}
