/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused",
)

package vote.fetcher.polishsejm.client.apis

import okhttp3.Call
import okhttp3.HttpUrl
import vote.fetcher.polishsejm.client.infrastructure.ApiClient
import vote.fetcher.polishsejm.client.infrastructure.ApiResponse
import vote.fetcher.polishsejm.client.infrastructure.ClientError
import vote.fetcher.polishsejm.client.infrastructure.ClientException
import vote.fetcher.polishsejm.client.infrastructure.MultiValueMap
import vote.fetcher.polishsejm.client.infrastructure.RequestConfig
import vote.fetcher.polishsejm.client.infrastructure.RequestMethod
import vote.fetcher.polishsejm.client.infrastructure.ResponseType
import vote.fetcher.polishsejm.client.infrastructure.ServerError
import vote.fetcher.polishsejm.client.infrastructure.ServerException
import vote.fetcher.polishsejm.client.infrastructure.Success
import vote.fetcher.polishsejm.client.models.SejmProceedingDayDto
import vote.fetcher.polishsejm.client.models.SejmVotingDetailsDto
import vote.fetcher.polishsejm.client.models.SejmVotingDto
import java.io.IOException

open class VotingsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(
    basePath,
    client,
) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.sejm.gov.pl")
        }
    }

    /**
     * GET /sejm/term{term}/votings
     * Returns number of votings grouped by day
     *
     * @param term a Sejm term
     * @return kotlin.collections.List<SejmProceedingDayDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVotingsGet(term: kotlin.Int): kotlin.collections.List<SejmProceedingDayDto> {
        val localVarResponse = sejmTermtermVotingsGetWithHttpInfo(term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmProceedingDayDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/votings
     * Returns number of votings grouped by day
     *
     * @param term a Sejm term
     * @return ApiResponse<kotlin.collections.List<SejmProceedingDayDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVotingsGetWithHttpInfo(term: kotlin.Int): ApiResponse<kotlin.collections.List<SejmProceedingDayDto>?> {
        val localVariableConfig = sejmTermtermVotingsGetRequestConfig(term = term)

        return request<Unit, kotlin.collections.List<SejmProceedingDayDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVotingsGet
     *
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVotingsGetRequestConfig(term: kotlin.Int): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/votings".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/votings/search
     * Search for a voting
     *
     * @param term a Sejm term
     * @param dateFrom a date to search from (optional)
     * @param dateTo a date to search to (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param proceeding a proceeding number (optional)
     * @param title a title to search for (optional)
     * @return kotlin.collections.List<SejmVotingDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVotingsSearchGet(
        term: kotlin.Int,
        dateFrom: java.time.LocalDate? = null,
        dateTo: java.time.LocalDate? = null,
        limit: kotlin.Int? = 50,
        offset: kotlin.Int? = 0,
        proceeding: kotlin.Int? = null,
        title: kotlin.String? = null,
    ): kotlin.collections.List<SejmVotingDto> {
        val localVarResponse =
            sejmTermtermVotingsSearchGetWithHttpInfo(
                term = term,
                dateFrom = dateFrom,
                dateTo = dateTo,
                limit = limit,
                offset = offset,
                proceeding = proceeding,
                title = title,
            )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmVotingDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/votings/search
     * Search for a voting
     *
     * @param term a Sejm term
     * @param dateFrom a date to search from (optional)
     * @param dateTo a date to search to (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param proceeding a proceeding number (optional)
     * @param title a title to search for (optional)
     * @return ApiResponse<kotlin.collections.List<SejmVotingDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVotingsSearchGetWithHttpInfo(
        term: kotlin.Int,
        dateFrom: java.time.LocalDate?,
        dateTo: java.time.LocalDate?,
        limit: kotlin.Int?,
        offset: kotlin.Int?,
        proceeding: kotlin.Int?,
        title: kotlin.String?,
    ): ApiResponse<kotlin.collections.List<SejmVotingDto>?> {
        val localVariableConfig =
            sejmTermtermVotingsSearchGetRequestConfig(
                term = term,
                dateFrom = dateFrom,
                dateTo = dateTo,
                limit = limit,
                offset = offset,
                proceeding = proceeding,
                title = title,
            )

        return request<Unit, kotlin.collections.List<SejmVotingDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVotingsSearchGet
     *
     * @param term a Sejm term
     * @param dateFrom a date to search from (optional)
     * @param dateTo a date to search to (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param proceeding a proceeding number (optional)
     * @param title a title to search for (optional)
     * @return RequestConfig
     */
    fun sejmTermtermVotingsSearchGetRequestConfig(
        term: kotlin.Int,
        dateFrom: java.time.LocalDate?,
        dateTo: java.time.LocalDate?,
        limit: kotlin.Int?,
        offset: kotlin.Int?,
        proceeding: kotlin.Int?,
        title: kotlin.String?,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (dateFrom != null) {
                    put("dateFrom", listOf(parseDateToQueryString<java.time.LocalDate>(dateFrom)))
                }
                if (dateTo != null) {
                    put("dateTo", listOf(parseDateToQueryString<java.time.LocalDate>(dateTo)))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (proceeding != null) {
                    put("proceeding", listOf(proceeding.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/votings/search".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}
     * Returns a list of votings for a given sitting
     *
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return kotlin.collections.List<SejmVotingDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVotingsSittingGet(
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): kotlin.collections.List<SejmVotingDto> {
        val localVarResponse = sejmTermtermVotingsSittingGetWithHttpInfo(sitting = sitting, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmVotingDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}
     * Returns a list of votings for a given sitting
     *
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return ApiResponse<kotlin.collections.List<SejmVotingDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVotingsSittingGetWithHttpInfo(
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): ApiResponse<kotlin.collections.List<SejmVotingDto>?> {
        val localVariableConfig = sejmTermtermVotingsSittingGetRequestConfig(sitting = sitting, term = term)

        return request<Unit, kotlin.collections.List<SejmVotingDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVotingsSittingGet
     *
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVotingsSittingGetRequestConfig(
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/votings/{sitting}".replace("{" + "sitting" + "}", encodeURIComponent(sitting.toString())).replace(
                "{" + "term" + "}",
                encodeURIComponent(term.toString()),
            ),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}/{num}
     * Returns details about a voting, with voting results
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return SejmVotingDetailsDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVotingsSittingNumGet(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): SejmVotingDetailsDto {
        val localVarResponse = sejmTermtermVotingsSittingNumGetWithHttpInfo(num = num, sitting = sitting, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SejmVotingDetailsDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}/{num}
     * Returns details about a voting, with voting results
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return ApiResponse<SejmVotingDetailsDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVotingsSittingNumGetWithHttpInfo(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): ApiResponse<SejmVotingDetailsDto?> {
        val localVariableConfig = sejmTermtermVotingsSittingNumGetRequestConfig(num = num, sitting = sitting, term = term)

        return request<Unit, SejmVotingDetailsDto>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVotingsSittingNumGet
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVotingsSittingNumGetRequestConfig(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/votings/{sitting}/{num}"
                .replace("{" + "num" + "}", encodeURIComponent(num.toString()))
                .replace(
                    "{" + "sitting" + "}",
                    encodeURIComponent(sitting.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}/{num}/pdf
     * Returns a PDF file with voting results
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermVotingsSittingNumPdfGet(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ) {
        val localVarResponse = sejmTermtermVotingsSittingNumPdfGetWithHttpInfo(num = num, sitting = sitting, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/votings/{sitting}/{num}/pdf
     * Returns a PDF file with voting results
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermVotingsSittingNumPdfGetWithHttpInfo(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): ApiResponse<Unit?> {
        val localVariableConfig = sejmTermtermVotingsSittingNumPdfGetRequestConfig(num = num, sitting = sitting, term = term)

        return request<Unit, Unit>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermVotingsSittingNumPdfGet
     *
     * @param num a voting number
     * @param sitting a sitting number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermVotingsSittingNumPdfGetRequestConfig(
        num: kotlin.Int,
        sitting: kotlin.Int,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/votings/{sitting}/{num}/pdf"
                .replace("{" + "num" + "}", encodeURIComponent(num.toString()))
                .replace(
                    "{" + "sitting" + "}",
                    encodeURIComponent(sitting.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl
            .Builder()
            .scheme("http")
            .host("localhost")
            .addPathSegment(uriComponent)
            .build()
            .encodedPathSegments[0]
}
