/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused",
)

package vote.fetcher.polishsejm.client.apis

import okhttp3.Call
import okhttp3.HttpUrl
import vote.fetcher.polishsejm.client.infrastructure.ApiClient
import vote.fetcher.polishsejm.client.infrastructure.ApiResponse
import vote.fetcher.polishsejm.client.infrastructure.ClientError
import vote.fetcher.polishsejm.client.infrastructure.ClientException
import vote.fetcher.polishsejm.client.infrastructure.MultiValueMap
import vote.fetcher.polishsejm.client.infrastructure.RequestConfig
import vote.fetcher.polishsejm.client.infrastructure.RequestMethod
import vote.fetcher.polishsejm.client.infrastructure.ResponseType
import vote.fetcher.polishsejm.client.infrastructure.ServerError
import vote.fetcher.polishsejm.client.infrastructure.ServerException
import vote.fetcher.polishsejm.client.infrastructure.Success
import vote.fetcher.polishsejm.client.models.SejmWrittenQuestionDto
import java.io.IOException

open class WrittenQuestionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(
    basePath,
    client,
) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.sejm.gov.pl")
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/attachment/{key}/{fileName}
     * Returns an attachment file
     *
     * @param fileName a name of the attachment
     * @param key an attachment identifier
     * @param term a Sejm term
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermWrittenQuestionsAttachmentKeyFileNameGet(
        fileName: kotlin.String,
        key: kotlin.String,
        term: kotlin.Int,
    ) {
        val localVarResponse = sejmTermtermWrittenQuestionsAttachmentKeyFileNameGetWithHttpInfo(fileName = fileName, key = key, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/attachment/{key}/{fileName}
     * Returns an attachment file
     *
     * @param fileName a name of the attachment
     * @param key an attachment identifier
     * @param term a Sejm term
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermWrittenQuestionsAttachmentKeyFileNameGetWithHttpInfo(
        fileName: kotlin.String,
        key: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<Unit?> {
        val localVariableConfig =
            sejmTermtermWrittenQuestionsAttachmentKeyFileNameGetRequestConfig(fileName = fileName, key = key, term = term)

        return request<Unit, Unit>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermWrittenQuestionsAttachmentKeyFileNameGet
     *
     * @param fileName a name of the attachment
     * @param key an attachment identifier
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermWrittenQuestionsAttachmentKeyFileNameGetRequestConfig(
        fileName: kotlin.String,
        key: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/writtenQuestions/attachment/{key}/{fileName}"
                .replace(
                    "{" + "fileName" + "}",
                    encodeURIComponent(fileName.toString()),
                ).replace(
                    "{" + "key" + "}",
                    encodeURIComponent(key.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/writtenQuestions
     * Returns a list of written questions
     *
     * @param term a Sejm term
     * @param delayed display only cases where an answer delayed (optional)
     * @param from filters interpellations from a MP with a specified ID (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param modifiedSince filters interpellations modified since specified date (optional)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters interpellations starting from a specified date (optional)
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param till filters interpellations starting before a specified date (optional)
     * @param title filters interpellations containing a specified string in a title (optional)
     * @param to filters interpellations sent to a specified recipient (optional)
     * @return kotlin.collections.List<SejmWrittenQuestionDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermWrittenQuestionsGet(
        term: kotlin.Int,
        delayed: kotlin.Boolean? = null,
        from: kotlin.String? = null,
        limit: kotlin.Int? = 50,
        modifiedSince: java.time.LocalDateTime? = null,
        offset: kotlin.Int? = 0,
        since: kotlin.String? = null,
        sort: kotlin.String? = null,
        sortBy: kotlin.String? = null,
        till: kotlin.String? = null,
        title: kotlin.String? = null,
        to: kotlin.String? = null,
    ): kotlin.collections.List<SejmWrittenQuestionDto> {
        val localVarResponse =
            sejmTermtermWrittenQuestionsGetWithHttpInfo(
                term = term,
                delayed = delayed,
                from = from,
                limit = limit,
                modifiedSince = modifiedSince,
                offset = offset,
                since = since,
                sort = sort,
                sortBy = sortBy,
                till = till,
                title = title,
                to = to,
            )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SejmWrittenQuestionDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions
     * Returns a list of written questions
     *
     * @param term a Sejm term
     * @param delayed display only cases where an answer delayed (optional)
     * @param from filters interpellations from a MP with a specified ID (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param modifiedSince filters interpellations modified since specified date (optional)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters interpellations starting from a specified date (optional)
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param till filters interpellations starting before a specified date (optional)
     * @param title filters interpellations containing a specified string in a title (optional)
     * @param to filters interpellations sent to a specified recipient (optional)
     * @return ApiResponse<kotlin.collections.List<SejmWrittenQuestionDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermWrittenQuestionsGetWithHttpInfo(
        term: kotlin.Int,
        delayed: kotlin.Boolean?,
        from: kotlin.String?,
        limit: kotlin.Int?,
        modifiedSince: java.time.LocalDateTime?,
        offset: kotlin.Int?,
        since: kotlin.String?,
        sort: kotlin.String?,
        sortBy: kotlin.String?,
        till: kotlin.String?,
        title: kotlin.String?,
        to: kotlin.String?,
    ): ApiResponse<kotlin.collections.List<SejmWrittenQuestionDto>?> {
        val localVariableConfig =
            sejmTermtermWrittenQuestionsGetRequestConfig(
                term = term,
                delayed = delayed,
                from = from,
                limit = limit,
                modifiedSince = modifiedSince,
                offset = offset,
                since = since,
                sort = sort,
                sortBy = sortBy,
                till = till,
                title = title,
                to = to,
            )

        return request<Unit, kotlin.collections.List<SejmWrittenQuestionDto>>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermWrittenQuestionsGet
     *
     * @param term a Sejm term
     * @param delayed display only cases where an answer delayed (optional)
     * @param from filters interpellations from a MP with a specified ID (optional)
     * @param limit controls the maximum number of items that may be returned for a single request (optional, default to 50)
     * @param modifiedSince filters interpellations modified since specified date (optional)
     * @param offset controls the starting point within the collection of resource results (optional, default to 0)
     * @param since filters interpellations starting from a specified date (optional)
     * @param sort sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param sortBy sorts objects by specified field, to sort in descending order add a minus sign before field name (optional)
     * @param till filters interpellations starting before a specified date (optional)
     * @param title filters interpellations containing a specified string in a title (optional)
     * @param to filters interpellations sent to a specified recipient (optional)
     * @return RequestConfig
     */
    fun sejmTermtermWrittenQuestionsGetRequestConfig(
        term: kotlin.Int,
        delayed: kotlin.Boolean?,
        from: kotlin.String?,
        limit: kotlin.Int?,
        modifiedSince: java.time.LocalDateTime?,
        offset: kotlin.Int?,
        since: kotlin.String?,
        sort: kotlin.String?,
        sortBy: kotlin.String?,
        till: kotlin.String?,
        title: kotlin.String?,
        to: kotlin.String?,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (delayed != null) {
                    put("delayed", listOf(delayed.toString()))
                }
                if (from != null) {
                    put("from", listOf(from.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (modifiedSince != null) {
                    put("modifiedSince", listOf(parseDateToQueryString<java.time.LocalDateTime>(modifiedSince)))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (sortBy != null) {
                    put("sort_by", listOf(sortBy.toString()))
                }
                if (till != null) {
                    put("till", listOf(till.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (to != null) {
                    put("to", listOf(to.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/writtenQuestions".replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}/body
     * Returns a written question body in HTML format
     *
     * @param num a question number
     * @param term a Sejm term
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermWrittenQuestionsNumBodyGet(
        num: kotlin.String,
        term: kotlin.Int,
    ): kotlin.String {
        val localVarResponse = sejmTermtermWrittenQuestionsNumBodyGetWithHttpInfo(num = num, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}/body
     * Returns a written question body in HTML format
     *
     * @param num a question number
     * @param term a Sejm term
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermWrittenQuestionsNumBodyGetWithHttpInfo(
        num: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<kotlin.String?> {
        val localVariableConfig = sejmTermtermWrittenQuestionsNumBodyGetRequestConfig(num = num, term = term)

        return request<Unit, kotlin.String>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermWrittenQuestionsNumBodyGet
     *
     * @param num a question number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermWrittenQuestionsNumBodyGetRequestConfig(
        num: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/writtenQuestions/{num}/body".replace("{" + "num" + "}", encodeURIComponent(num.toString())).replace(
                "{" + "term" + "}",
                encodeURIComponent(term.toString()),
            ),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}
     * Returns details of a written questions
     *
     * @param num a question number
     * @param term a Sejm term
     * @return SejmWrittenQuestionDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermWrittenQuestionsNumGet(
        num: kotlin.String,
        term: kotlin.Int,
    ): SejmWrittenQuestionDto {
        val localVarResponse = sejmTermtermWrittenQuestionsNumGetWithHttpInfo(num = num, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SejmWrittenQuestionDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}
     * Returns details of a written questions
     *
     * @param num a question number
     * @param term a Sejm term
     * @return ApiResponse<SejmWrittenQuestionDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermWrittenQuestionsNumGetWithHttpInfo(
        num: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<SejmWrittenQuestionDto?> {
        val localVariableConfig = sejmTermtermWrittenQuestionsNumGetRequestConfig(num = num, term = term)

        return request<Unit, SejmWrittenQuestionDto>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermWrittenQuestionsNumGet
     *
     * @param num a question number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermWrittenQuestionsNumGetRequestConfig(
        num: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/writtenQuestions/{num}".replace("{" + "num" + "}", encodeURIComponent(num.toString())).replace(
                "{" + "term" + "}",
                encodeURIComponent(term.toString()),
            ),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}/reply/{key}/body
     * Returns a reply body in HTML format
     *
     * @param key a reply key (identifier)
     * @param num a written question number
     * @param term a Sejm term
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class,
    )
    fun sejmTermtermWrittenQuestionsNumReplyKeyBodyGet(
        key: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ): kotlin.String {
        val localVarResponse = sejmTermtermWrittenQuestionsNumReplyKeyBodyGetWithHttpInfo(key = key, num = num, term = term)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse,
                )
            }
        }
    }

    /**
     * GET /sejm/term{term}/writtenQuestions/{num}/reply/{key}/body
     * Returns a reply body in HTML format
     *
     * @param key a reply key (identifier)
     * @param num a written question number
     * @param term a Sejm term
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sejmTermtermWrittenQuestionsNumReplyKeyBodyGetWithHttpInfo(
        key: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ): ApiResponse<kotlin.String?> {
        val localVariableConfig = sejmTermtermWrittenQuestionsNumReplyKeyBodyGetRequestConfig(key = key, num = num, term = term)

        return request<Unit, kotlin.String>(
            localVariableConfig,
        )
    }

    /**
     * To obtain the request config of the operation sejmTermtermWrittenQuestionsNumReplyKeyBodyGet
     *
     * @param key a reply key (identifier)
     * @param num a written question number
     * @param term a Sejm term
     * @return RequestConfig
     */
    fun sejmTermtermWrittenQuestionsNumReplyKeyBodyGetRequestConfig(
        key: kotlin.String,
        num: kotlin.String,
        term: kotlin.Int,
    ): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sejm/term{term}/writtenQuestions/{num}/reply/{key}/body"
                .replace(
                    "{" + "key" + "}",
                    encodeURIComponent(key.toString()),
                ).replace(
                    "{" + "num" + "}",
                    encodeURIComponent(num.toString()),
                ).replace("{" + "term" + "}", encodeURIComponent(term.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody,
        )
    }

    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl
            .Builder()
            .scheme("http")
            .host("localhost")
            .addPathSegment(uriComponent)
            .build()
            .encodedPathSegments[0]
}
